<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729307755550-8bd3akvo365mranfeu9ntiht8n4sa9kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729307755550-8bd3akvo365mranfeu9ntiht8n4sa9kt</string>
	<key>API_KEY</key>
	<string>AIzaSyA_LLmlUmkXA_btaYh2ol6y3bSjcqjUh5M</string>
	<key>GCM_SENDER_ID</key>
	<string>729307755550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glsample.flutterTwitterGlsample</string>
	<key>PROJECT_ID</key>
	<string>fluttertwittergl</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertwittergl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729307755550:ios:d83f4efab42955a4eb6a0f</string>
</dict>
</plist>